<h1>Edit</h1>
<%= form_tag("/edit", method: "PUT") do %>
  <div class="row">
    <div class="large-8 columns">
      <%= label_tag(:Create_true, "Create new record", "id": "create") %>
      <%= radio_button_tag(:Create, true) %>
      <%= label_tag(:Create_false, "Update existing record", "id": "update") %>
      <%= radio_button_tag(:Create, false) %>
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns">
      <%= label_tag(:Name, "Name: ") %>
      <%= text_field_tag(:Name) %>
    </div>
    <div class="large-3 columns">
      <%= label_tag(:Domain, "Domain: ") %>
      <%= select("Domain", "", DataSets.domains, "include_blank": true) %>
    </div>
    <div class="large-4 columns">
      <%= label_tag(:SubDomain, "SubDomain: ") %>
      <%= text_field_tag(:SubDomain) %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= label_tag(:Description, "Description: ") %>
      <%= text_area(:Description, "", rows: 5) %>
    </div>
  </div>

  <div class="row">
    <div class="large-2 columns">
      <%= label_tag(:Nodes, "Nodes: ") %>
      <%= text_field_tag(:Nodes, '', "class": "numeric") %>
    </div>
    <div class="large-4 columns">
      <%= label_tag(:NodeType, "NodeType: ") %>
      <%= text_field_tag(:NodeType) %>
    </div>
    <div class="large-2 columns">
      <%= label_tag(:Edges, "Edges: ") %>
      <%= text_field_tag(:Edges) %>
    </div>
    <div class="large-4 columns">
      <%= label_tag(:EdgeType, "EdgeType: ") %>
      <%= text_field_tag(:EdgeType) %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= label_tag(:GraphProperties, "GraphProperties: ") %>
      <%= text_field_tag(:GraphProperties) %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= label_tag(:InfoLink, "InfoLink: ") %>
      <%= text_field_tag(:InfoLink) %>
    </div>
    <div class="large-6 columns">
      <%= label_tag(:DataLink, "DataLink: ") %>
      <%= text_field_tag(:DataLink) %>
    </div>
  </div>

  <div class="row">
    <div class="large-2 columns">
      <%= label_tag(:FileSize, "FileSize: ") %>
      <%= text_field_tag(:FileSize) %>
    </div>
    <div class="large-4 columns">
      <%= label_tag(:FileType, "FileType: ") %>
      <%= text_field_tag(:FileType) %>
    </div>
    <div class="large-6 columns">
      <%= label_tag(:GraphFormat, "GraphFormat: ") %>
      <%= text_field_tag(:GraphFormat) %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= label_tag(:Citation, "Citation: ") %>
      <%= text_field_tag(:Citation) %>
    </div>
    <div class="large-3 columns">
      <%= label_tag(:Public, "Is the data set public?") %>
      <%= label_tag(:Public_true, "Yes:", "class": "radio") %>
      <%= radio_button_tag(:Public, true) %>
      <%= label_tag(:Public_false, "No:", "class": "radio") %>
      <%= radio_button_tag(:Public, false) %>
    </div>
    <div class="large-3 columns">
      <%= submit_tag("Submit", "class": "button radius") %>
    </div>
  </div>
<% end %>
