<!DOCTYPE html>
<html>
<head>
  <title>Test Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'polymer_load', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="import" href="/assets/sampler-scaffold/sampler-scaffold.html">

</head>
  <body>

  <sampler-scaffold label="CoRoNA">
    <core-item label="Home"  url="<%= templateWelcome_path %>"></core-item>
    <core-item label="Data" url="<%=  templateData_path %>"></core-item>
    <core-item label="About" url="<%= templateAbout_path%>"></core-item>
  </sampler-scaffold>

  </body>

</html>

