<!DOCTYPE html>
<html>
<head>
  <title>Test Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a class="pure-menu-heading">CoRoNa</a>
      <ui>
        <li> <%= link_to 'Home' , root_path %> </li>
        <li> <%= link_to 'Data' , data_path %> </li>
        <li> <%= link_to 'About', about_path %> </li>
        <li> <%= link_to 'FAQ' , faq_path %> </li>
        <li><form action = <%= data_path %> method="get">
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
        </form></li>
      </ui>
    </div>
</div>
<div id="content">
    <%= yield %>
</div>

</body>
</html>
